html, body, #map-canvas {
	height: 95%;
	margin: 0px;
	padding: 0px;
}
#panel {
	position: relative;
	top: 5px;
	z-index: 5;
	background-color: #DDDDDD;
	padding: 5px;
	border: 1px solid #999;
}
#type-selector {
	color: #FFF;
	background-color: #66FF66;
	padding: 5px 11px 0px 11px;
}
.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}